# artifacts
__pycache__
.pytest*
*.egg-info
*/build/*
*/dist/*


# misc
.coverage
.vscode
.idea
coverage.xml


# Home Assistant configuration
.cloud
.HA_VERSION
.storage
automations.yaml
blueprints
configuration.yaml
deps
home-assistant_v2*
home-assistant.log*
tts
scenes.yaml
scripts.yaml
secrets.yaml
/.vs/home-assistant-quatt/FileContentIndex/93bdd2b9-b998-4380-9428-35477f44b592.vsidx
/test/beta/feed/data.json
/.vs/home-assistant-quatt/FileContentIndex
/.vs
